.raw-source-link {
    float: right;
    margin: 12px 10px 0px 0px;
    font-size: 12px;
    font-family: sans-serif;
}

.nav-button {
    padding: 9px 0px 2px 9px;
}

.panel-title {
    font-family: Arial;
    font-size: 9pt;
    position: relative;
    height: 22px;
    display: inline-block;
    vertical-align: top;
    color: black;
    margin: 1px 0px 0px 0px;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: grey;
}

.panel-title.source {
    padding: 11px 15px 0px 11px;
}

.panel-title.target {
    padding: 11px 17px 0px 14px;
}

.nav-button-disabled {
    opacity: .35;
    pointer-events: none;
}

.nav-button:hover:not(.nav-button-disabled) {
    cursor: pointer;
    border-width: 1px;
    border-radius: 5px;
    border-color: cadetblue;
    background-image: linear-gradient(0deg, cadetblue, transparent);
}

.nav-button {
    padding: 2px;
    margin: 7px 0px 2px 3px;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: transparent;
}

.line-bookmarked {
    background-image: url('../img/bookmark.gif');
    background-repeat: no-repeat;
    background-position: right;
}

.sql-body {
    height: 100%;
    font-family: Courier New, sans-serif;
    font-size: 9pt;
    overflow: hidden;
    background: white;
    margin: 0;
}

.tab-navigation {
    background-image: linear-gradient(white, antiquewhite);
    width: 100%;
    height: 24px;
}

.stat-buttons-tab {
    display: inline-block;
    width: 100px;
    height: 100%;
    padding-top: 8px;
    color: black;
    text-align: center;
    border-color: slategrey;
    margin-left: -8px;
    border-width: 0px 1px 0px 1px;
    padding: 0px 1px 0px 1px;
    cursor: pointer;
}

.stat-buttons-tab.tab-selected {
    background-color: white;
    background-image: linear-gradient(white, antiquewhite, antiquewhite, antiquewhite);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-width: 0px 1px 0px 1px;
    border-color: black;
    border-style: solid;
    box-shadow: 0px 3px 2px grey;
}

.stat-buttons-tab:hover:not(.tab-selected) {
    background-color: antiquewhite;
    background-image: linear-gradient(white, antiquewhite, antiquewhite);
    border-width: 0px 1px 0px 1px;
    padding: 0px 0px 0px 0px;
    border-style: solid;
}

.code-highlight {
    background-color: gold;
    opacity: .3;
}

.info-margin {
    background-color: cornflowerblue;
    clip: rect(0px 67px 19px 61px);
    opacity: .75;
}

.warning-margin {
    background-color: goldenrod;
    clip: rect(0px 67px 19px 61px);
    opacity: .75;
}

.error-margin {
    background-color: red;
    clip: rect(0px 67px 19px 61px);
    opacity: .75;
}
.content-tab {
    height: calc(100% - 24px);
}

.full-width {
    width: 100%;
}

#content-stat-buttons-tab-0 {
    overflow: hidden;
    background-color: white;
    display: inline-flex;
}

#content-stat-buttons-tab-1 {
    display: flex;
}

.tab-content-hidden {
    display: none !important;
}

.borderless-iframe {
    width: 100%;
    height: 100%;
    border-style: none;
}

.scrollable-body {
    display: inline-block;
}

.resize-bar {
    background-color: white;
    width: 6px;
    display: inline-block;
    height: 100%;
    cursor: ew-resize;
    user-select: none;
    background-image: linear-gradient(0deg, white, white, antiquewhite);
}

#monaco-left-side, #monaco-right-side {
    height: 100%;
}

#monaco-left-side-sql, #monaco-right-side-sql {
    height: 100%;
    overflow: scroll;
    margin: 0px;
}

frame.left-side, frame.right-side {
    width: 100%;
}

.left-side {
    border-width: 0px 1px 0px 0px;
    border-color: black;
    border-style: solid;
    width: 50%;
    display: inline-block;
}

.right-side {
    border-width: 0px 1px 0px 1px;
    border-color: black;
    border-style: solid;
    width: 50%;
    display: inline-block;
}

#statButtons {
    border: solid;
    border-width: 0px 0px 1px 0px;
}

TD {
    border: none;
}

.panel {
    position: relative;
    background-color: lightblue;
    background-image: linear-gradient(azure, lightblue);
    width: 100%;
    height: 35px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    overflow: hidden;
    cursor: default;
}

a.sourcelink {
    color: blue
}

a.sourcelink:visited {
    color: blue
}

.add-nav {
    width: 100%;
    overflow: hidden;
    padding: 2px 0px 2px 0px;
    margin: 0;
    list-style: none;
    color: black;
}

.add-nav li {
    float: left;
    padding: 3px 7px;
}

.add-nav li:first-child {
    padding: 7px;
}

.editor-container {
    overflow: hidden;
    height: calc(100% - 37px);
}

.stat {
    border-right:4px solid black;
}

.messages {
    border-top:1px solid black;
}

.tree {
    border-right:1px solid black;border-top:1px solid black;
}

.path {
    border-top:1px solid black;border-bottom:1px solid black;
}

.stats-body {
    background-color: white;
    float: left;
    text-align: center;
    width: 100%;
}

table.stats-table {
    width: 380px;
    table-layout: fixed;
    margin: 0 auto;
    border-collapse: collapse;
    position: relative;
    top: 0px;
    margin-bottom: 20px;
}

.stats-table tr td:not(.align-left) {
    text-align: right;
}

.stats-table td, th {
    color: black;
    font-family: Times, sans-serif;
    font-size: 9pt;
    font-weight: normal;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    line-height: 16px;
}

.stats-table td img {
    width: 14px;
    vertical-align: top;
}

.stats-table td {
    background-Color: azure;
    padding: 10px;
}

.stats-table th {
    background-Color: khaki;
    height: 35px;
}

.stats-table tr {
    min-height: 35px;
}

caption {
    font-family: Times, sans-serif;
    font-size: 9.75pt;
    font-weight: normal;
    line-height: 40px;
}

a {
    color: #0000ff;
}

a:visited {
    color: #0000ff;
}
